body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: transparent;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (orientation: portrait) {
  .d-portrait-none {
    display: none !important;
  }
  .d-portrait-block {
    display: block !important;
  }
  .d-portrait-inline {
    display: inline !important;
  }
  .d-portrait-flex {
    display: flex !important;
  }
}
@media screen and (orientation: landscape) {
  .d-landscape-none {
    display: none !important;
  }
  .d-landscape-block {
    display: block !important;
  }
  .d-landscape-inline {
    display: inline !important;
  }
  .d-landscape-flex {
    display: flex !important;
  }
}
.bsx-appnav-navbar-nav ul {
  display: none;
}

@media (min-width: 992px) {
  .bsx-appnav-desktop-hidden {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .bsx-appnav-mobile-hidden {
    display: none !important;
  }
}
button.bsx-appnav-dropdown-toggle {
  display: none;
}

@media (max-width: 991.98px) {
  .bsx-appnav-navbar-toggler {
    position: relative;
    box-sizing: content-box;
    min-width: 2rem;
    min-height: 1.25em;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    color: transparent;
  }
  .bsx-appnav-navbar-toggler::before {
    content: "";
    position: absolute;
    left: 0.66667em;
    right: 0.66667em;
    height: 1.25em;
    margin-top: 0.125em;
    background: #dee2e6;
    border-radius: 0.625em;
  }
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-toggler {
    display: none;
  }
}
.bsx-appnav-navbar-brand {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0.33rem 0.75rem;
  align-items: center;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  max-width: 40vw;
  min-height: 0;
}
.bsx-appnav-navbar-brand:hover, .bsx-appnav-navbar-brand:focus {
  text-decoration: none;
}
.bsx-appnav-navbar-brand img,
.bsx-appnav-navbar-brand svg {
  max-width: 100%;
  height: auto;
}

.bsx-appnav-navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.94);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
.bsx-appnav-navbar.bsx-appnav-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 991.98px) {
  .bsx-appnav-navbar {
    display: block;
    max-width: 100vw;
  }
}
@media (min-width: 992px) {
  .bsx-appnav-navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .bsx-appnav-navbar .bsx-appnav-navbar-nav {
    flex-direction: row;
  }
}
.bsx-appnav-navbar-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 991.98px) {
  .bsx-appnav-navbar-collapse {
    display: none;
  }
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-collapse {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.bsx-appnav-navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.bsx-appnav-navbar-nav li a {
  display: inline-block;
  width: 100%;
  padding: 0.66667em 0.66667em;
  text-decoration: none;
  background-color: transparent;
}
.bsx-appnav-navbar-nav li button.bsx-appnav-dropdown-toggle {
  padding: 0.66667em 0.66667em;
  text-align: center;
  background-color: transparent;
}
@media (max-width: 991.98px) {
  .bsx-appnav-navbar-nav li button.bsx-appnav-dropdown-toggle {
    width: 50px;
  }
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-nav li button.bsx-appnav-dropdown-toggle {
    position: relative;
    width: 20px;
    line-height: inherit;
  }
  .bsx-appnav-navbar-nav li button.bsx-appnav-dropdown-toggle:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    top: 0%;
    height: 100%;
    border-left: 1px solid;
    opacity: 0.2;
  }
  .bsx-appnav-navbar-nav li button.bsx-appnav-dropdown-toggle:after {
    line-height: inherit;
    vertical-align: middle;
  }
}
@media (max-width: 991.98px) {
  .bsx-appnav-navbar-nav li.has-dropdown-button > a {
    width: calc(100% - 50px);
  }
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-nav li.has-dropdown-button > a {
    width: calc(100% - 20px);
  }
}
.bsx-appnav-navbar-nav > li > a {
  position: relative;
  min-width: 2rem;
  min-height: 1.25em;
  color: transparent;
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-nav > li > a {
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bsx-appnav-navbar-nav > li > a > .fa:after {
    content: "";
    display: inline-block;
  }
}
.bsx-appnav-navbar-nav > li > a::before {
  content: "";
  position: absolute;
  left: 0.66667em;
  right: 0.66667em;
  height: 1.25em;
  margin-top: 0.125em;
  background: #dee2e6;
  border-radius: 0.625em;
}
@media (min-width: 992px) {
  .bsx-appnav-navbar-nav > li > button.bsx-appnav-dropdown-toggle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .bsx-appnav-navbar-nav > li > button.bsx-appnav-dropdown-toggle:before {
    top: 20%;
    height: 60%;
  }
}
.bsx-appnav-navbar-nav > li.has-dropdown-button > a {
  padding-right: 0.3rem;
}

@media (min-width: 992px) {
  .bsx-appnav-navbar-nav.bsx-main-navbar-nav {
    margin: 0 auto 0 0;
  }
}
.bsx-appnav-navbar-nav.bsx-allmedia-dropdown-nav {
  display: inline-flex;
  flex-direction: row;
}
.bsx-appnav-navbar-nav.bsx-allmedia-dropdown-nav > li > a {
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bsx-appnav-navbar-nav.bsx-allmedia-dropdown-nav > li > a > .fa:after {
  content: "";
  display: inline-block;
}

.bsx-banner,
[class*=banner-]:not(.banner-inner) {
  background-color: #dee2e6;
}

.banner-1 {
  min-height: 26rem;
}

.banner-2 {
  min-height: 22rem;
}

.banner-3 {
  min-height: 18rem;
}

.banner-4 {
  min-height: 15rem;
}

.banner-5 {
  min-height: 13rem;
}

.banner-6 {
  min-height: 11rem;
}

@media (min-width: 768px) {
  .banner-1 {
    min-height: 36rem;
  }
  .banner-2 {
    min-height: 30rem;
  }
  .banner-3 {
    min-height: 24rem;
  }
  .banner-4 {
    min-height: 18rem;
  }
}
/*# sourceMappingURL=atf.css.map */
