
.text-inverse {
  color: $white;

  &.bg-primary {
    color: $bsx-primary-inverse-color;
  }

  &.bg-secondary {
    color: $bsx-secondary-inverse-color;
  }

  &.bg-light {
    color: $bsx-light-inverse-color;
  }

  &.bg-dark {
    color: $bsx-dark-inverse-color;
  }

  &.bg-info {
    color: $bsx-info-inverse-color;
  }
}