@import "./variables";


@mixin poppins-font($folder, $variant, $type, $weight, $style) {

    //$font-full-path: '#{$poppins-font-path}/#{$folder}/#{$variant}';
    $font-full-path: '#{$poppins-font-path}/#{$variant}';

    @font-face {
        font-family: '#{$variant}';
        src: url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
             url('#{$font-full-path}-#{$type}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}