
blockquote {
    border-left: $bsx-blockquote-border-width solid $bsx-blockquote-border-color;
    padding-left: $bsx-blockquote-padding-left;

    cite {
    	font-size: $bsx-blockquote-cite-font-size;
    	font-style: $bsx-blockquote-cite-font-style;
    }
}