
.text-shadow-dark {
  text-shadow: $bsx-dark-text-shadow;
}
.text-shadow-darker {
  text-shadow: $bsx-darker-text-shadow;
}
.text-shadow-darkest {
  text-shadow: $bsx-darkest-text-shadow;
}

.text-shadow-light {
  text-shadow: $bsx-light-text-shadow;
}

.text-shadow-primary {
  text-shadow: $bsx-primary-text-shadow;
}